.env
.env.backup
.phpunit.result.cache
/.idea
/.vscode
/bin
/node_modules
/old
/public/css
/public/fonts
/public/hot
/public/images
/public/js
/public/mix-manifest.json
/public/storage
/storage/*.key
/vendor
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
