parameters:
    paths:
        - src

    level: max

    checkGenericClassInNonGenericObjectType: false
    
    #ignoreErrors:
    #    - 'Error message to ignore'

    #excludePaths:
    #    - app/Something.php