Host gitlab.com
  PreferredAuthentications publickey
  IdentityFile {{ user.home_directory }}/.ssh/ssh_git
Host github.com
  PreferredAuthentications publickey
  IdentityFile {{ user.home_directory }}/.ssh/ssh_git
